<mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="products.length > 0 && !isLoading && isUser" class="welcome text-secondary">Welcome to Products Page ... Now you can buy any Product  </div>
  <div *ngIf="products.length > 0 && !isLoading && isAdmin" class="welcome">Welcome to Shop </div>
  <div *ngIf="!userIsAuthenticated" class="welcome">   
    <a class="text-secondary" *ngIf="!userIsAuthenticated"  routerLink="/auth/login" routerLinkActive="mat-accent">Login </a> 
    or  
    <a class="text-secondary" *ngIf="!userIsAuthenticated"  routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>   
    To Buy and Sell Products
  </div>

<mat-paginator  [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="products.length > 0">
</mat-paginator>

<div class="card-columns"  *ngIf="products.length > 0 && !isLoading">
  <div *ngFor="let product of products" class="card">
      <img style="height:300px;" class="card-img-top" [src]="product.imagePath" [alt]="product.name">
      
    <div class="card-body text-secondary">
      
      <h5 class="card-title text-dark">{{product.name}}</h5>
      <hr>
      <p class="card-text badge badge-success"> {{product.price}} $</p>
      <p class="text-secondary badge badge-warning"> {{product.category}} category</p>
      <p class="text-secondary badge badge-info text-light"> {{ product.status }} </p>
      <mat-expansion-panel style="margin:10px 0px;" *ngIf="product.descripition !='null'" >
          <mat-expansion-panel-header>    
            Read More 
          </mat-expansion-panel-header>
          <p class="text-secondary" style="font-family: cursive;">{{product.descripition}}</p>
        </mat-expansion-panel>

      <div *ngIf="isUser && userId !== product.owner_id._id">
      <button class="btn btn-success" style="margin: 10px 0px;" (click)="onBuy(product.id)" >Buy {{product.price}} $</button>
       </div>
       <br>
      <span  *ngIf="isUser && userId === product.owner_id._id" class="badge badge-primary">My Product</span>
           
      </div>
    </div>
    
  </div>

<p class="text-secondary welcome"  *ngIf="products.length <= 0 && !isLoading">No products yet!</p>


