<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  *ngIf="products.length > 0 && !isLoading" class="welcome">Welcome ...!  to your Products Page you are add it  </div>

<mat-paginator  [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="products.length > 0">
</mat-paginator>


<div class="card-columns"  *ngIf="products.length > 0 && !isLoading">
    <div *ngFor="let product of products" class="card">
        <img style="height:300px;" class="card-img-top" [src]="product.imagePath" [alt]="product.name">
        
      <div class="card-body text-secondary">
        
        <hr>
        <h5 class="card-title text-dark">{{product.name}} 
             <i 
            *ngIf="product.approved == 1; else templateName"
             class="fa fa-check-circle " 
             style="color: blue;" >
            </i>
            <ng-template #templateName >
                   <p class="text-secondary">your Product will be approved soon </p>
            </ng-template>

        </h5>
        <hr>
        <p class="card-text badge badge-success"> {{product.price}} $</p>
        <p class="text-secondary badge badge-warning"> {{product.category}} category</p>
        <p class="text-secondary badge badge-info text-light"> {{ product.status }} </p>
        <div *ngIf="product.descripition!='null'">
            <p class="text-secondary" style="font-family: cursive;">{{product.descripition}}</p>
        </div>
        </div>
      </div>
      
    </div>




<p class="info-text mat-body-1 text-secondary" *ngIf="products.length <= 0 && !isLoading">you didnt add products yet ! 
    add product now 
    <a mat-button color='primary' routerLink="/create" routerLinkActive="mat-accent">New Product</a>
</p>












