<mat-spinner *ngIf="isLoading"></mat-spinner>
<div  *ngIf="users.length > 0 && !isLoading" class="welcome">Welcome to your Users Page  </div>
<mat-accordion multi="true" *ngIf="users.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>    
      {{ user.name }}
    </mat-expansion-panel-header>
    <p>{{ user.email }}</p>
    <mat-action-row *ngIf="isAdmin">
      <button mat-button color="warn" (click)="onDelete(user.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="users.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="users.length <= 0 && !isLoading">No users added yet!</p>